:root {
  --mainColor: #32343E;
  --secondaryColor: #90C7CD;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: #F1EFF9;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header {
  background-color: var(--mainColor);
  padding: 10px 0;
}
header h1 {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
  padding: 5px 10px 5px 75px;
  display: inline-block;
}
/* needs to have an underline and when it is hovered then the background is over the whole word */
header nav {
  padding: 10px 8% 0 0;
  float: right;
  font-size: 18px;
}
nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;

}

.navBarLinks {
  color: var(--secondaryColor);
  padding: 10px;
  border-radius: 4%;
  text-decoration: underline 15%;
  transition: .2s ease;

}
.navBarLinks:hover {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
}

#hero {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  background-image: url("../Images/512CroppedCopy.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: -200px;
}
#subT p {
  font-size: 2em;
  font-weight: 600;
  background-color: var(--secondaryColor);
  text-align: center;
  width: 15%;
  padding: 5px 0;
  position: relative;
  left: 77%; /* subtract 100 - (width + 8% of padding) */
  top: 80%;
}

#wrapper {
  padding: 5px 8%;
}

h2 {
  font-size: 3em;
  padding: 0px 25px 0 0;
  float: right;
  display: flex;
}

.section {
  padding-top: 50px;
  display: flex;
}


/* ABOUT ME <p> */
.section p {
  width: 1330px;
  display: flex;
  float: left;
}

.sectionTitle {
  flex: 0 0 20%;
  border-right: 5px solid #90C7CD;
  margin-right: 20px;
}
/* MY WORK SECTION */

#workDisplay {
  display: flex;
  /* flex-wrap: wrap; */
}
#workDisplay h2 {
  text-align: right;
  width: 170px;
}

#workDisplay img {
  opacity: 0.8;
  transition: .3s ease;
}
#workDisplay img:hover {
  opacity: 1.0;
}


#workDisplay #featuredWork {
  position: relative; /* makes the title apear below the image */
  width: 100%;
  height: auto;
  display: flex;
}
.bottomLeft {
  position: absolute;
  bottom: 40px;
  text-align: center;
}

#workDisplay #featuredWork a {
  width: 100%;
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  border-radius: 0%;
  padding: 5px;
}
#workDisplay #featuredWork p {
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  position: relative;
  font-size: 28px;
  font-weight: 600;
  width: fit-content;
  height: auto;
  padding: 15px 12px;
  bottom: 30px;
}

#workDisplay #featuredWork a img {
  width: 100%;
  background-color: var(--secondaryColor);
}
/*  */
#workDisplay #otherWork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#workDisplay #otherWork a {
  width: 48.5%;
  margin: 5px;
  padding: 5px;
  background-color: var(--secondaryColor);
}
#workDisplay #otherWork a img {
  width: 100%;
  height: 100%;
}


/* CONTACT ME SECTION */
#contactMe {
  color: #F1EFF9;
}
#contactMeandResume { 
  padding: 50px 0;
  margin: 20px 0;
  height: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--mainColor);
}
#contactMeandResume h2, #navAndDL {
  display: flex;
  float: left;
  justify-content: space-between;
  padding: 0;
}
#contactMeandResume nav ul li {
  display: inline-block;
  justify-content: center;
  padding: 10px 0;
}
#contactMeandResume a {
  color: var(--secondaryColor);
  padding: 10px;
  border-radius: 4%;
  text-decoration: none;
  transition: .2s ease;
}
#contactMeandResume a:hover {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
}

#navAndDL {
  padding-top: 10px;
  width: 50%;
}





@media screen and (max-width: 768px) {
  #workDisplay{
    flex-wrap: wrap;
  }
}